.table {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  cursor: move;
}

.emptyTablePlace {
  width: 39px;
  height: 39px;
  background-color: #aaa;
}

.cornerSeat{
  opacity: 0;
}


.firstLeftSeatBorder{
  border:1px solid #555;
  /* border-right:none; */
}

.firstRightSeatBorder{
  border:1px solid #555;
  /* border-left:none; */
}

.otherLeftSeatBorder{
  border:1px solid #555;
   border-top:none;
  
}

.otherRightSeatBorder{
  border:1px solid #555;
  border-top:none;
  
}

.firstTopSeatBorder{
  border:1px solid #555;
 
}

.firstBottomSeatBorder{
  border:1px solid #555;
  
}

.otherTopSeatBorder{
  border:1px solid #555;

  border-left:none; 
}

.otherBottomSeatBorder{
  border:1px solid #555;
  
  border-left:0; 
}
