.acceptCheckbox {
  width: 1.5vw;
  height: 1.5vw;
  margin-right: 10px;
}

.checkboxDesc {
  font-size: 20px;
}

@media (min-width: 1100px) {
  .acceptCheckbox {
    width: 1.2vw;
    height: 1.2vw;
    margin-right: 10px;
  }
}
